<nav>
  <div class="nav-wrapper red darken-3">
    <a href="#" class="brand-logo">Programming courses App</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      {{#if isHome}}
      <li class="active"><a href="/">Main page</a></li>
      {{else}}
      <li><a href="/">Main page</a></li>
      {{/if}}

      {{#if isCourses}}
      <li class="active"><a href="/courses">Courses page</a></li>
      {{else}}
      <li><a href="/courses">Courses page</a></li>
      {{/if}}

      {{#if isAdd}}
      <li class="active"><a href="/add">Add Course</a></li>
      {{else}}
      <li><a href="/add">Add Course</a></li>
      {{/if}}

      {{#if isCart}}
      <li class="active"><a href="/cart">Cart</a></li>
      {{else}}
      <li><a href="/cart">Cart</a></li>
      {{/if}}

      {{#if isOrder}}
      <li class="active"><a href="/orders">Orders</a></li>
      {{else}}
      <li><a href="/orders">Orders</a></li>
      {{/if}}
      
      {{#if isLogin}}
      <li class="active"><a href="/auth/login#login">Sign In</a></li>
      {{else}}
      <li><a href="/auth/login#login">Sign In</a></li>
      {{/if}}
    </ul>
  </div>
</nav>