@keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

.lds-double-ring {
    position: relative;
    margin: 0 auto;
}

.lds-double-ring div {
    box-sizing: border-box;
}

.lds-double-ring > div {
    position: absolute;
    width: 166px;
    height: 166px;
    top: 17px;
    left: 17px;
    border-radius: 50%;
    border: 6px solid #000;
    border-color: #cc4876 transparent #cc4876 transparent;
    -webkit-animation: lds-double-ring 3.2s linear infinite;
    animation: lds-double-ring 3.2s linear infinite;
}

.lds-double-ring > div:nth-child(2),
.lds-double-ring > div:nth-child(4) {
    width: 150px;
    height: 150px;
    top: 25px;
    left: 25px;
    -webkit-animation: lds-double-ring_reverse 3.2s linear infinite;
    animation: lds-double-ring_reverse 3.2s linear infinite;
}

.lds-double-ring > div:nth-child(2) {
    border-color: transparent #00fff5 transparent #00fff5;
}

.lds-double-ring > div:nth-child(3) {
    border-color: transparent;
}

.lds-double-ring > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.lds-double-ring > div:nth-child(3) div:before,
.lds-double-ring > div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    top: -6px;
    left: 74px;
    background: #cc4876;
    border-radius: 50%;
    box-shadow: 0 160px 0 0 #cc4876;
}

.lds-double-ring > div:nth-child(3) div:after {
    left: -6px;
    top: 74px;
    box-shadow: 160px 0 0 0 #cc4876;
}

.lds-double-ring > div:nth-child(4) {
    border-color: transparent;
}

.lds-double-ring > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.lds-double-ring > div:nth-child(4) div:before,
.lds-double-ring > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    top: -6px;
    left: 66px;
    background: #00fff5;
    border-radius: 50%;
    box-shadow: 0 144px 0 0 #00fff5;
}

.lds-double-ring > div:nth-child(4) div:after {
    left: -6px;
    top: 66px;
    box-shadow: 144px 0 0 0 #00fff5;
}

.lds-double-ring {
    width: 100px !important;
    height: 100px !important;
    -webkit-transform: translate(-50.5px, -50.5px) scale(0.505) translate(50.5px, 50.5px);
    transform: translate(-50.5px, -50.5px) scale(0.505) translate(50.5px, 50.5px);
}