.book-list-item {
  display: flex;
  margin: 15px 0;
}

.book-list-item .book-cover {
  flex-shrink: 0;
  width: 140px;
  margin-right: 40px;
}

.book-list-item .book-cover img{
  max-width: 100%;
}

.book-list-item .book-details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  align-items: flex-start;
}

.book-list-item .book-details .book-title {
  font-size: 1.2rem;
}

.book-list-item .book-details .book-price {
  font-size: 1.4rem;
}

