.container {
    background-color: grey;
}

.content {
    margin: 0 20%;
    /*padding: 0 5%;*/
    background-color: white;
}

.item {
    padding: 10px 20px;
}

.item__episode {
    padding-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.item__title {
    padding-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.item__description {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: normal;
}

.names {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px dotted #acacac;
}

.alert {
    text-align: center;
    padding-bottom: 5%;
    font-size: 16px;
    font-weight: normal;
    color: #ff9c8b;
}

.button {
    margin-left: 50%;
    transform: translate(-50%);
    height: 65.5px;
    width: 240px;
    font-family: "Exo 2", Arial, sans-serif;
    font-size: 16px;
}

.characters-list {
    margin: 10px 20% 0;
}