.lds_ripple {
    position: relative;
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

.lds_ripple div {
    position: absolute;
    border: 4px solid #ec8b04;
    opacity: 1;
    border-radius: 50%;
    animation: lds_ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds_ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

.lds_position {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes lds_ripple {
    0% {
        top: calc(28px * 2);
        left: calc(28px * 2);
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: calc(58px * 2);
        height: calc(58px * 2);
        opacity: 0;
    }
}