.weather {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #e1e1e1;
    border: 1px solid black;
    border-radius: 15px;
    width: max-content;
    padding: 20px 50px;
    margin: 0 auto;
    box-shadow: 2px 9px 23px 7px rgba(0, 0, 0, 0.75);
    //transition: all 200ms ease;

    &__city {
        font-size: 24px;
    }

    &__flag {
        float: right;
        right: 0;
        top: 0;
    }

    &__icon {
        display: block;
        margin: 0 auto;
    }
}
