* {
    padding: 0;
    margin: 0;
}

.container__items {
    background-color: #cccccc;
    border: 1px solid #3a3a3a;
    max-width: 80%;
    min-height: 98vh;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.container__item {
    list-style-type: none;
    font: bold 38px "Lucida Console";
    color: #ffffff;
    padding: 5% 10%;
    margin: 1%;
    background-color: #7687b1;
    border: 4px solid transparent;
    transition: all 1s ease-in-out;
}

.container__item--active {
    border: 4px solid #6da00c;
    background-color: #c8f061;
    color: #777777;
    transition: all 1s ease-in-out;
}