.container {
    background-color: #acacac;
}

.content {
    margin: 0 20%;
    background-color: white;
}

.item {
    padding: 10px 20px;
    border-bottom: 2px solid #acacac;
}

.item__title {
    padding-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}

.item__description {
    font-size: 16px;
    font-weight: normal;
}

.button {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 50%;
    transform: translate(-50%);
    padding-top: 5px;
    padding-bottom: 5px;
    width: 240px;
    font-family: "Exo 2", Arial, sans-serif;
    font-size: 16px;
    text-align: center;
}

.characters-list {
    margin: 0 20%;
}

.starship__title {
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
    color: #acacac;
}

.starship__title:hover {
    color: #000000;
}

.starship__parameters {
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px dotted #acacac;
    margin-right: 20px;
    margin-left: 20px;
}