
$personImgWidth: 220px;

.personDetailsImg {
    width: $personImgWidth;
    height: $personImgWidth * 1.3;
    margin: 0.5rem !important;
    border-radius: 0.25rem !important;
}

$planetImgWidth: 310px;

.planetDetailsImg {
    width: $planetImgWidth;
    height: $planetImgWidth;
    margin: 0.5rem !important;
    border-radius: 0.25rem !important;
 }

$starshipImgWidth: 310px;

.starshipDetailsImg {
    width: $planetImgWidth;
    height: $planetImgWidth * 0.75;
    margin: 0.5rem !important;
    border-radius: 0.25rem !important;
}

$vehicleImgWidth: 310px;

.vehicleDetailsImg {
    width: $planetImgWidth;
    height: $planetImgWidth * 0.75;
    margin: 0.5rem !important;
    border-radius: 0.25rem !important;
}

