.header {
    background-color: #222eee;

    & .list{
        background-color: #222eee;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 0;
        display: flex;
        justify-content: center;
        font-weight: bold;
        margin-bottom: 0;
    }
}
.navItem {
    font-size: 36px;
    list-style-type: none;
    //display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.navLink {
    color: white;

    &:hover {
        color: #ec8b04;
        text-decoration: none;
    }
}