$randomPersonImgWidth: 110px;

.randomPersonImg {
    width: $randomPersonImgWidth;
    height: $randomPersonImgWidth * 1.3;
    margin: 0.5rem !important;
    border-radius: 0.25rem !important;
}

$randomPlanetImgWidth: 120px;

.randomPlanetImg {
    width: $randomPlanetImgWidth;
    height: $randomPlanetImgWidth;
    margin: 0.5rem !important;
    border-radius: 0.25rem !important;
}

$randomStarshipImgWidth: 150px;

.randomStarshipImg {
    width: $randomStarshipImgWidth;
    height: $randomStarshipImgWidth * 0.75;
    margin: 0.5rem !important;
    border-radius: 0.25rem !important;
}

$randomVehicleImgWidth: 150px;

.randomVehicleImg {
    width: $randomVehicleImgWidth;
    height: $randomVehicleImgWidth * 0.75;
    margin: 0.5rem !important;
    border-radius: 0.25rem !important;
}
