.container {
    background-color: #acacac;
}

.content {
    margin: 0 20%;
    background-color: white;
}

.item {
    padding: 10px 20px;
    border-top: 4px solid #acacac;
    border-bottom: 4px solid #acacac;
}

.item__title {
    padding-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 22px;
}

.item__description {
    /*font-size: 16px;*/
    /*font-weight: normal;*/
    /*margin-right: 10%;*/
    /*margin-left: 10%;*/
    /*margin-top: 5px;*/
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    color: #717171;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px dotted #acacac;
}

.item__heading{
    padding-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
}

/*.citizen-name{*/
/*    margin-right: 10%;*/
/*    margin-left: 10%;*/
/*    text-align: center;*/
/*    color: #717171;*/
/*    font-size: 16px;*/
/*    font-weight: normal;*/
/*    border-bottom: 1px dotted #acacac;*/
/*}*/