.container {
    background-color: #acacac;
}

.content {
    margin: 0 20%;
    background-color: white;
    min-height: 100vh;
}

.button {
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 50%;
    transform: translateX(-50%);
}

.list {
    padding-top: 50px;
    padding-bottom: 50px;
}

.item {
    padding: 10px 20px;
    border-top: 4px solid #acacac;
    border-bottom: 4px solid #acacac;
}

.item__title {
    padding-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 22px;
}

.item__description {
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    color: #717171;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px dotted #acacac;
}

.item__heading{
    padding-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
}

.item__key {
    color: #000000;
}