@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat/Montserrat-Regular.ttf'),
    url('../font/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat/Montserrat-Bold.ttf'),
    url('../font/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    overflow: hidden;

    /*border: 1px solid red;*/
}

.header {
    font-family: "Montserrat", Arial, sans-serif;
    background-color: #f0ddff;
    width: auto;
}

.header--flex {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 550px;
}

.logo--flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__img {
    height: calc(998px / 10);
    width: calc(845px / 10);
}

.logo__link {
    text-decoration: none;
}

.logo__text {
    font-size: 48px;
}

.logo__text--dark {
    color: #6e6e6e;
}

.logo__text--light {
    color: #418C37;
}

.button {
    text-transform: capitalize;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 24px;
    padding: 10px;

    align-self: center;
}

.overlay {
    z-index: 999998;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal {
    z-index: 999999;
    background-color: rgba(255, 237, 253, 1);
    transition: all ease-in-out 200ms;

    /*position: relative;*/
    position: absolute;
    width: 500px;
    top: -30%;
    left: calc(50% - (500px / 2));
}

.modal__heading {
    font-family: "Montserrat", Arial, sans-serif;
    padding: 35px 60px 15px;
    font-size: 32px;
    background-color: rgba(166, 77, 155, 1);
    text-transform: capitalize;
    font-weight: bold;
    color: #FFEDFD;
    text-align: center;

    user-select: none;
}

.form--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__text {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 18px;
    padding: 5px 10px;
}

.form__text--light {
    color: #BFB5BE;
}

::placeholder {
    color: #BFB5BE;
    opacity: 1; /* Firefox */
}

::-moz-selection { /* Code for Firefox */
    color: #BFB5BE;
    background: #688c5b;
}

::selection {
    color: #BFB5BE;
    background: #688c5b;
}

.form__options {
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #A64D9B;
    outline: none;
}

.form__options--mb15 {
    margin-bottom: 15px;
}

.form__option {

}

.form__input,
.form__textarea {
    margin-top: 5px;
    width: 440px;
    border: 1px solid #A64D9B;
    outline: none;

    resize: none;
}

.form__inputs--flex {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form__input--mt20 {
    margin-top: 20px;
}

.form__btn {
    margin-top: 30px;
    margin-bottom: 30px;
    outline: none;
}

.cross {
    position: absolute;
    right: 0;
    top: 0;
    transition: all ease-in-out 200ms;
}

.cross:hover {
    background-color: #7f3b77;
}

.cross:hover .fa-times {
    color: #FFEDFD;
}

.fa-times {
    font-size: 32px;
    color: #BFB5BE;
    padding: 5px 10px;
    transition: all ease-in-out 200ms;
}

.main {
    /*width: 100%;*/
}

.visit-bord {
    margin-top: 40px;
    background-color: #FAF6FF;

    position: relative;
    height: 500px;

}

.visit-bord--flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.visit-bord__message {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 24px;
    color: #BFB5BE;
}

.hidden {
    display: none;
}

.card {
    background-color: #BFBEB5;
    border: 1px solid #FAF6FF;
    font-size: 14px;
    font-family: "Montserrat", Arial, sans-serif;
    max-width: 230px;
    overflow: hidden;
    position: absolute;

    transition: all ease-in-out 200ms;
}

.card__cross {
    font-size: 18px;
    color: #ffffff;
}

.card__cross:hover {
    background-color: #625e2d;
}

.card__heading {
    background-color: #A69F4D;
    font-size: 18px;
    padding: 25px 60px 10px 10px;
    border-bottom: 1px solid #FFFEF5;
    font-weight: bold;
    color: #FFFEF5;
    text-align: center;
}

.card__info {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card__additional {
    max-width: 98%;
    max-height: 50px;
    outline: none;
    background-color: #BFBEB5;
    resize: none;
    font-family: "Montserrat", Arial, sans-serif;
    border-top: 1px solid #FFFEF5;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.card__additional::placeholder {
    color: #636363;
}

.show-more,
.show-less {
    text-align: center;
    background-color: #A69F4D;
    border-top: 1px solid #FFFEF5;
}

.show-more__link,
.show-less__link {
    display: block;
    text-decoration: none;
}

.show-more__link:hover,
.show-less__link:hover {
    background-color: #625e2d;
}

.fa-caret-down,
.fa-caret-up {
    font-size: 18px;
    color: #ffffff;
}