$arrow-box--background: #acd8ad;
$category__text--color: #ffffff;

.category {
  margin-top: 2px;

  &-box {
    //padding-top: 3px;
  }

  &__link {
    text-decoration: none;
    color: $category__text--color;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    &--title {
      //display: block;
      box-sizing: border-box;
      font-size: 20px;
      font-weight: bold;
      padding: 28px 0;
    }
  }

  &__arrow-box {
    font-size: 13px;
    min-width: 71px;
    box-sizing: border-box;
    background-color: $arrow-box--background;
  }

  &__item {
    text-align: center;
    box-sizing: border-box;
    //margin: 4px 0;

    display: flex;
    /*justify-content: space-between;*/

    &--mtb-3 {
      margin-top: 1px;
      margin-bottom: 1px;
    }

    &--background-1 {
      background: url("../img/category-1.png") no-repeat bottom/cover;
      box-sizing: border-box;
      width: 100%;
      //height: 100%;
    }

    &--background-2 {
      background: url("../img/category-2.png") no-repeat bottom/cover; //50% 95%/cover;
      box-sizing: border-box;
      width: 100%;
      //height: 100%;
    }

    &--background-3 {
      background: url("../img/category-3.png") no-repeat bottom/cover; //50% 5%/cover;
      box-sizing: border-box;
      width: 100%;
      //height: 100%;
    }
  }
}

.fa-chevron-right {
  display: block;
  box-sizing: border-box;
}

@media only screen and (min-width: 491px) {
  .category__link--title {
    font-size: 36px;
    padding: 58px 0;
  }

  .category__arrow-box {
    font-size: 25px;
    min-width: 150px;
  }
}

@media only screen and (min-width: 641px) {
  .category__arrow-box {
    display: none;
  }

  .category__box {
    display: flex;
  }

  .category__item {
    width: 33.33%;
  }

  .category__link--title {
    padding: 144px 0; // height = 325px, font-size = 30px;
    font-size: 39px;
  }

  .category__item--mtb-3 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 981px) {
  .category__link {
    font-size: 38px;
  }

  .category__link--title {
    padding: 145px 0;
  }

}

@media only screen and (min-width: 1200px) {
  .category__link {
    font-size: 43px;
  }

  .category__link--title {
    padding: 180px 0;
  }

}
