$foodmenu__color--dark: #3f4043;
$text-border--color: #CBCCCE;

.drop-down {
  position: absolute;
  display: block;
  box-sizing: border-box;
  right: 0;

  &__item {
    border: 1px solid $text-border--color;
    background-color: #fff;
    box-sizing: border-box;

    &:hover {
      background-color: $text-border--color;
    }
  }

  &__link {
    display: block;
    padding: 7px 88px 7px 12px;
    text-decoration: none;
    font-size: 12px;
    color: $foodmenu__color--dark;

    &:hover {
      color: black;
      //font-weight: bold;
    }
  }
}

@media only screen and (min-width: 491px) {
  .drop-down__link {
    font-size: 16px;
    padding: 12px 140px 12px 18px;
  }
}

@media only screen and (min-width: 641px) {
  .drop-down {
    position: static;
    width: 600px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
      border: 1px solid $navbar__background;
      background-color: $navbar__background;
      box-sizing: border-box;
      flex-direction: row;

      &:hover {
        background-color: $navbar__background;
      }
    }

    &__link {
      font-size: 14px;
      color: $navbar__text--color;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0;
      transition: all ease-in-out 300ms;
    }

    & .container {
      padding: 0 30px;
      width: 100%;

      display: flex;
      justify-content: space-between;
    }
  }
}