$foodmenu__color--dark: #3f4043;
$foodmenu__color--light: #acd8ad;
$text-border--color: #CBCCCE;

.foodmenu {
  padding-bottom: 20px;
  box-sizing: border-box;

  &__description {
    font-size: 8.5px;
    color: $text-border--color;
    text-transform: none;
    letter-spacing: 0.7px;
  }

  &__header {
    font-size: 18px;
    font-weight: bold;
    color: $foodmenu__color--dark;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 0.7;

    &--flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 26px 8px 11px;
    }
  }

  &__subheader {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    letter-spacing: 1.1px;
    margin: 0 -17px 5px;

    &--dark {
      background-color: $foodmenu__color--dark;
      color: $foodmenu__color--light;
    }

    &--light {
      background-color: $foodmenu__color--light;
      color: #ffffff;
    }
  }

  &__dish-beverages-header {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: $foodmenu__color--dark;
    padding-top: 6px;
    padding-bottom: 11px;
    letter-spacing: -0.1px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.subsection-wrapper {
  padding: 0 17px;
}

.food {
  margin: 5px 0 10.5px;
  /*padding: 8px 0 1px;*/
  font-weight: bold;

  &__header {
    font-size: 12px;
    padding-bottom: 7px;
    letter-spacing: 0.4px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    font-size: 14px;
    font-weight: bold;
    /*letter-spacing: -0.5px;*/
  }

  &__description {
    font-size: 9px;
    color: $foodmenu__color--dark;
    text-align: justify;
    line-height: 1.1;
    letter-spacing: -0.2px;
  }
}


.fa-stroopwafel,
.fa-wine-glass-alt,
.fa-coffee,
.fa-beer {
  color: $foodmenu__color--light;
  font-size: 25px;
}

.last-item--indent {
  margin-bottom: 29px;
}

@media only screen and (min-width: 321px) {
  .foodmenu__header--flex {
    padding: 37px 17px 20px;
  }
}

@media only screen and (min-width: 491px) {

  .foodmenu {
    padding-bottom: 77px;

    &__description {
      font-size: 18.5px;
    }
  }

  .foodmenu__header {
    font-size: 37.5px;
    //letter-spacing: 1px;
    line-height: 1.35;
  }

  .foodmenu__subheader {
    font-size: 37.5px;
    font-weight: normal;
    padding: 19px 0 23px 37px;
    margin: 0 -37px;
  }

  .subsection-wrapper {
    padding: 0 37px;
  }

  .foodmenu__dish-beverages-header {
    font-size: 28.5px;
    padding-top: 22px;
    padding-bottom: 20px;
    letter-spacing: 0.4px;
  }

  .fa-stroopwafel,
  .fa-wine-glass-alt,
  .fa-coffee,
  .fa-beer {
    font-size: 45px;
  }

  .food {
    margin: 5px 0 11px;
    /*padding: 8px 0 1px;*/

    &__header {
      font-size: 25px;
      padding-top: 8px;
      padding-bottom: 16px;
    }

    &__price {
      font-size: 25px;
    }

    &__description {
      font-size: 18px;
      line-height: 1.15;
      letter-spacing: -0.45px;
    }
  }

  .last-item--indent {
    margin-bottom: 36px;
  }
}

@media only screen and (min-width: 641px) {
  .foodmenu__header--flex {
    padding: 50px 30px 10px;
  }

  .foodmenu__subheader {
    font-size: 22px;
    padding: 19px 0 23px 37px;
    margin: 0 -37px;
  }

  .foodmenu__sections--flex {
    display: flex;
  }

  .food {
    margin: 5px 0 11px;
    /*padding: 8px 0 1px;*/

    &__header {
      font-size: 25px;
      padding-top: 8px;
      padding-bottom: 16px;
    }

    &__price {
      font-size: 25px;
    }

    &__description {
      font-size: 15px;
      line-height: 1.15;
      letter-spacing: 0;
    }
  }
}

@media only screen and (min-width: 755px) {
  .foodmenu {
    padding-bottom: 68px;

    &__description {
      font-size: 18.5px;
    }
  }

  .foodmenu__header {
    font-size: 35px;
    letter-spacing: -1px;
    line-height: 1.35;
  }

  .foodmenu__subheader {
    font-size: 32px;
    padding: 19px 0 23px 17px;
    margin: 0 -15px;
  }

  .subsection-wrapper {
    padding: 0 15px;
  }

  .foodmenu__dish-beverages-header {
    font-size: 26px;
    padding-top: 25px;
    padding-bottom: 20px;
    letter-spacing: 0;
  }

  .fa-stroopwafel,
  .fa-wine-glass-alt,
  .fa-coffee,
  .fa-beer {
    font-size: 45px;
  }

  .food {
    margin: 5px 0 14px;
    /*padding: 8px 0 1px;*/

    &__header {
      font-size: 25px;
      padding-top: 8px;
      padding-bottom: 16px;
    }

    &__price {
      font-size: 25px;
    }

    &__description {
      font-size: 16px;
      line-height: 1.15;
      letter-spacing: -0.1px;
    }
  }

}

@media only screen and (min-width: 981px) {
  .foodmenu__header--flex {
    //padding: 40px 20px 15px;
  }

  .foodmenu {
    padding-bottom: 120px;
  }

  .foodmenu__header {
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 1.35;
  }

  .foodmenu__subheader {
    font-size: 38px;
    padding: 11px 0 23px 10px;
    margin: 0 -15px;
  }

  .subsection-wrapper {
    padding: 0 15px;
  }

  .foodmenu__dish-beverages-header {
    font-size: 26px;
    padding-top: 25px;
    padding-bottom: 20px;
    letter-spacing: 0;
  }

  .fa-stroopwafel,
  .fa-wine-glass-alt,
  .fa-coffee,
  .fa-beer {
    font-size: 45px;
  }

  .food {
    margin: 5px 0 14px;
    /*padding: 8px 0 1px;*/

    &__header {
      font-size: 25px;
      padding-top: 8px;
      padding-bottom: 16px;
    }

    &__price {
      font-size: 25px;
    }

    &__description {
      font-size: 16px;
      line-height: 1.15;
      letter-spacing: -0.1px;
    }
  }
}