$footer__text--color: #ffffff;
$footer__background: #acd8ad;

.footer {
  background-color: $footer__background;

  &__text {
    font-size: 13px;
    color: $footer__text--color;
    text-align: center;
    line-height: 1.4;
  }

  &__text-wrap {
    padding: 10px 0;
  }

  & .container {

  }
}

@media only screen and (min-width: 491px) {
  .footer {

    &__text {
      font-size: 20px;
    }

    &__text-wrap {
      padding: 20px 0;
    }
  }
}

@media only screen and (min-width: 641px) {
  .footer__text {
    font-size: 15px;
  }

  .footer .container {
    width: 100%;
    padding: 0 30px;

    display: flex;
    justify-content: space-between;
  }

  .footer__text-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  .footer__text {
    font-size: 20px;
  }

  .footer__text-wrap {
    padding-right: 5px;
  }
}

@media only screen and (min-width: 981px) {
  .footer .container {
    padding: 0 37px;
  }
}