$header__link--color: #A6D6E0;
$header__title--color: #ffffff;

.header {
  padding-top: 16px;
  padding-bottom: 94px;
  background: url(../img/header-fon-320.png) no-repeat center/cover;

  &:hover {

  }

  &__title {
    color: $header__title--color;
    font: bold 14px Lato;
    //line-height: 1.35;
    margin-bottom: 6px;
    padding-left: 3px;
    letter-spacing: 0.6px;

    display: flex;
    flex-direction: column;
  }

  &__link {
    display: inline-block;
    box-sizing: border-box;
    font: bold 12.5px Lato;
    color: $header__link--color;
    text-decoration: none;
    margin-top: 3px;
    padding-left: 3px;
    letter-spacing: 0.6px;
  }
}

@media only screen and (min-width: 300px) {
  .header .container {
    padding-left: 20px;
  }
}

@media only screen and (min-width: 321px) {
  .header {
    //padding-top: 30px;
    //padding-bottom: 197px;
    background: url(../img/header-fon-640.png) no-repeat center/cover;
  }

  .header__title {
    font-size: 20px;
  }

  .header__link {
    font-size: 16px;
  }
}

@media only screen and (min-width: 491px) {
  .header {
    padding-top: 22px;
    padding-bottom: 190px;
    background: url(../img/header-fon-640.png) no-repeat center/cover;
  }

  .header__title {
    font-size: 36px;
    line-height: 1;
  }

  .header__link {
    font-size: 24px;
    margin-top: 14px;
  }

  .header .container {
    padding-left: 36px;
  }
}

@media only screen and (min-width: 641px) {
  .header {
    padding-top: 53px;
    padding-bottom: 260px;
    background: url(../img/header-fon-980.png) no-repeat center/cover;
  }

  .header__title {
    font-size: 54.5px;
    line-height: 1.1;
  }

  .header__link {
    font-size: 34px;
    margin-top: 44px;
  }

  .header .container {
    padding-left: 30px;
  }
}

@media only screen and (min-width: 981px) {
  .header {
    padding-top: 44px;
    padding-bottom: 379px;
    background: url(../img/header-fon-1200.png) no-repeat center/cover;
  }

  .header__title {
    font-size: 60px;
    line-height: 1.05;
  }

  .header__link {
    font-size: 37px;
    margin-top: 44px;
  }

  .header .container {
    padding-left: 37px;
  }
}