$navbar__background: #373c3f;
$navbar__text--color: #d9d9d9;
$navbar__text--hover: #ffffff;

.navbar {
  background-color: $navbar__background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__title {
    display: block;
    font-size: 13px;
    color: $navbar__text--color;
    margin: 10px 0px 14px;
    text-transform: capitalize;
  }
}

@media only screen and (min-width: 300px) {
  .navbar .container {
    padding-left: 20px;
  }
}

@media only screen and (min-width: 491px) {
  .navbar__title {
    font-size: 26px;
    margin: 26px 0;
  }

  .navbar .container {
    padding-left: 38px;
  }
}

@media only screen and (min-width: 641px) {
  .navbar__title {
    display: none;
  }
  
  .navbar .container {
    padding: 0 30px;
    width: 100%;

    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 981px) {
  .navbar .container {
    padding: 0 37px;
  }
}