$toggler__line--color: #ffffff;

.toggler {
  background-color: #202529;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;

  &__line {
    width: 17px;
    margin: 1px 11px;
    border: 1px solid $toggler__line--color;
    border-radius: 1px;
    background-color: $toggler__line--color;

    &:first-child {
      margin-top: 11px;
    }

    &:last-child {
      margin-bottom: 15px;
    }
  }
}

.active .toggler__line {
  visibility: hidden;
}

.active .toggler__line:first-child {
  visibility: visible;
  transform: rotate(-45deg) translate(-4px, 4px);
}

.active .toggler__line:last-child {
  visibility: visible;
  transform: rotate(45deg) translate(-2px, -2px);
}

@media only screen and (min-width: 491px) {
  .toggler__line {
    width: 28px;
    margin: 2px 28px;
    border: 2px solid $toggler__line--color;
    border-radius: 2px;
    background-color: $toggler__line--color;

    &:first-child {
      margin-top: 28px;
    }

    &:last-child {
      margin-bottom: 29.5px;
    }
  }

  .active .toggler__line:first-child {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .active .toggler__line:last-child {
    transform: rotate(45deg) translate(-5px, -7px);
  }
}

@media only screen and (min-width: 641px) {
  .toggler {
    display: none;
  }
}