@import 'navbar';
@import 'logo';
@import 'toggler';
@import 'drop-down-menu';
@import 'header';
@import 'categories';
@import 'foodmenu';
@import 'footer';

body {
    font-family: 'Lato', 'Montserrat', Courier, sans-serif;
}

.container {
    box-sizing: border-box;
    overflow: hidden;
}