.cities {
    padding-top: 10px;
    padding-bottom: 20px;

    border: 1px solid black;
    background-color: grey;
    color: white;
    display: inline-block;
    box-shadow: 2px 9px 23px 7px rgba(0, 0, 0, 0.75);

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    &__heading {
        border-bottom: 1px solid black;
        padding-top: 10px;
        padding-bottom: 10px;
        list-style-type: none;
        font-size: 18px;
        font-weight: bold;
        color: #d0d0d0;
    }

    &__item {
        padding-right: 15px;
        list-style-type: none;
        font-size: 14px;
        font-weight: bold;
        margin-top: 10px;

        &:hover {
            cursor: pointer;
            color: #d0d0d0;
        }
    }

    &__link {
        color: white;

        &:hover {
            color: #d0d0d0;
            text-decoration: none;
        }
    }
}