<div class="auth">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a href="#login" class="active">Sign in</a></li>
        <li class="tab col s6"><a href="#register">Registration</a></li>
      </ul>
    </div>
    <div id="login" class="col s6 offset-s3">
      <h3>Sign in with your account</h3>
      <form action='/add' method='POST'>

        <div class="input-field">
          <input id="email" name="email" type="email" class="validate" required>
          <label for="email">E-mail</label>
          <span class="helper-text" data-error="Enter email"></span>
        </div>

        <div class="input-field">
          <input id="password" name="password" type="password" class="validate" required>
          <label for="password">Password</label>
          <span class="helper-text" data-error="Enter password"></span>
        </div>

        <button class="btn btn-primary" type="submit">Sign In</button>
      </form>
    </div>
    <div id="register" class="col s6 offset-s3">
      <h3>Create account</h3>
      <form action='/add' method='POST'>

        <div class="input-field">
          <input id="remail" name="email" type="email" class="validate" required>
          <label for="remail">E-mail</label>
          <span class="helper-text" data-error="Enter email"></span>
        </div>

        <div class="input-field">
          <input id="rpassword" name="password" type="password" class="validate" required>
          <label for="rpassword">Password</label>
          <span class="helper-text" data-error="Enter password"></span>
        </div>

        <div class="input-field">
          <input id="confirm" name="confirm" type="password" class="validate" required>
          <label for="confirm">Repeat Password</label>
          <span class="helper-text" data-error="Enter password"></span>
        </div>

        <button class="btn btn-primary" type="submit">Create account</button>
      </form>
    </div>
  </div>
</div>