<h1>Add Page</h1>
<h3>Add new course</h3>

<form action='/add' method='POST'>

  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required>
    <label for="title">Title</label>
    <span class="helper-text" data-error="Enter title"></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="text" class="validate" required min='1'>
    <label for="price">Price</label>
    <span class="helper-text" data-error="Enter price"></span>
  </div>

  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" required>
    <label for="img">Image URL</label>
    <span class="helper-text" data-error="Enter image url"></span>
  </div>

  <button class="btn btn-primary">Add course</button>
</form>