<h1>Cart</h1>

<div id="cart">
  {{#if courses.length}}
  <table class="cart__content">
    <thead class="cart__header">
      <tr>
        <th class="title" id="">Title</th>
        <th class="title" id="">Price</th>
        <th class="title" id="">Quantity</th>
        <th class="title" id="">Actions</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td><strong>Total:</strong></td>
        <td><span class="price">{{price}}</span></td>
        <td></td>
        <td>
          <form action="/orders" method="POST">
            <button type="submit" class="btn btn-large">Orders</button>
          </form>
        </td>
      </tr>
    </tfoot>
    <tbody class="cart__body">
      {{#each courses}}
      <tr>
        <td>{{title}}</td>
        <td>{{price}}</td>
        <td>{{count}}</td>
        <td><button class="btn btn-small js-remove red" data-id="{{id}}">Delete</button></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{!-- <p><strong>Total:</strong><span class="price">{{price}}</span></p> --}}
  {{!-- <form action="/order" method="POST">
    <button type="submit" class="btn">Order</button>
  </form> --}}
  {{else}}

  <p>Cart is empty</p>

  {{/if}}
</div>