<h1>Editor Page</h1>
<h3>Edit {{course.title}}</h3>

<form action='/courses/edit' method='POST' class="course-form">

  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required value="{{course.title}}">
    <label for="title">Title</label>
    <span class="helper-text" data-error="Enter title"></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="text" class="validate" required min='1' value="{{course.price}}">
    <label for="price">Price</label>
    <span class="helper-text" data-error="Enter price"></span>
  </div>

  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" required value="{{course.img}}">
    <label for="img">Image URL</label>
    <span class="helper-text" data-error="Enter image url"></span>
  </div>

  <input name="id" type="hidden" value="{{course.id}}">

  <button type="submit" class="btn btn-primary">Save changes</button>
</form>

<form action="/courses/remove" method="POST">
  <input name="id" type="hidden" value="{{course.id}}">
  <button class="btn red">Delete course</button>
</form>