<h1>Courses Page</h1>
<a class="btn btn-large waves-effect waves-light blue-grey darken-2 z-depth-3" href="/">Go to Home Page</a>
<a class="btn btn-large waves-effect waves-light blue-grey darken-2 z-depth-3" href="/add">Go to add Course</a>
<h4>Courses list</h4>

<div class="row">
  {{#if courses.length}}
  {{#each courses}}

  <div class="col s4">
    <div class="card hoverable">
      <div class="card-image p10">
        <img class="width250 height250" src={{img}} alt="{{title}}">
      </div>
      <div class="card-content">
        <span class="card-title">{{title}}</span>
        <p class="price">{{price}}</p>
      </div>
      <div class="card-action actions">
        <form action="/cart/add" method="POST">
          <input type="hidden" name="id" value="{{id}}">
          <button type="submit" class="btn btn-primary">Buy</button>
        </form>
        <a href="/courses/{{id}}" target="_blank">Course details</a>
        <a href="/courses/{{id}}/edit?allow=true">Edit</a>
      </div>
    </div>
  </div>
  {{!-- </div> --}}
  {{else}}
  <p>Courses list is empty. Please, choose your course</p>
  <a href="/add">Go to Add page</a>
  {{/each}}
  {{/if}}
</div>