<h2>Details Page</h2>

<div class="course">
  <h3 class="center-align">{{course.title}}</h3>
  <img class="course__image" src="{{course.img}}" alt="{{course.title}}">
  <p class="big center-align price">{{course.price}}</p>
</div>
