<h1>Wellcome to Home Page</h1>

<p>This is website of awesome courses for web development. Enjoy!</p>
<a class="btn btn-large waves-effect waves-light blue-grey darken-2 z-depth-3" href="/add">Go to add Course</a>
<a class="btn btn-large waves-effect waves-light blue-grey darken-2 z-depth-3" href="/courses">Go to Courses Page</a>