<h2>My Orders</h2>

{{#if orders.length}}

{{#each orders}}

<div class="row">
  <div class="col s6 offset-s3">
    <div class="card blue-grey lighten-4 z-depth-2">
      <div class="card-content ">
        <span class="card-title">Order <small>{{_id}}</small></span>
        <hr>
        <p class="date">{{date}}</p>
        <p><em>{{user.userId.name}} </em>({{user.userId.email}})</p>
        <p></p>
        <ol>
          {{#each courses}}
          <li>{{course.title}} (x<strong>{{count}}</strong>)</li>
          {{/each}}
        </ol>
        <hr>
        <p>Total price: <span class="price">{{price}}</span></p>
      </div>
    </div>
  </div>
</div>

{{/each}}
{{else}}
<p>There are no orders</p>
{{/if}}