.nav-wrapper {
  padding: 0 2rem;
}

.price {
  font-size: 1.5rem;
}

.course {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-form {
  margin-bottom: 2rem;
}

.course h3 {
  margin-bottom: 2rem;
}

.course__image {
  width: 500px;
  margin: 0 auto;
  display: block;
}

.price.large {
  font-size: 2rem;
}

.width100 {
  width: 100px;
}
.width250 {
  width: 250px;
}
.width300 {
  width: 300px;
}

.height250 {
  height: 250px;
}

.height300 {
  height: 300px;
}

.p10 {
  padding: 10px;
}

.card-action.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth {
  padding-top: 50px;
}