@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat/Montserrat-Regular.ttf');
url('../font/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat/Montserrat-Bold.ttf');
url('../font/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/Lato/Lato-Regular.ttf');
url('../font/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/Lato/Lato-Bold.ttf');
url('../font/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/*@font-face {*/
/*  font-family: 'Lato';*/
/*  src: url('../font/Lato/Lato-BoldItalic.ttf');*/
/*url('../font/Lato/Lato-BoldItalic.ttf') format('truetype');*/
/*  font-weight: bold;*/
/*  font-style: normal;*/
/*}*/