.navbar {
  background-color: #373c3f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  .navbar__title {
    display: block;
    font-size: 12.15px;
    color: #d9d9d9;
    margin: 11px 0px 14px;
    text-transform: capitalize; }
  .navbar__panel {
    display: none; }
  .navbar__link {
    font-size: 14px;
    color: #d9d9d9;
    text-decoration: none;
    text-transform: uppercase;
    transition: all ease-in-out 300ms; }
    .navbar__link:hover {
      padding: 150px 0;
      border-bottom: 1px solid transparent;
      border-top: 1px solid transparent;
      background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0.2) 0.1%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 0.2) 99.9%, white 100%);
      color: #ffffff; }

@media only screen and (min-width: 300px) {
  .navbar .container {
    padding-left: 20px; } }
@media only screen and (min-width: 491px) {
  .navbar__title {
    font-size: 24px;
    margin: 26px 0; }

  .navbar .container {
    padding-left: 38px; } }
@media only screen and (min-width: 641px) {
  .navbar__title {
    display: none; }

  .navbar__panel {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center; }

  .navbar .container {
    padding: 0 30px;
    width: 100%;
    display: flex;
    justify-content: space-between; } }
@media only screen and (min-width: 981px) {
  .navbar .container {
    padding: 0 37px; } }
.logo {
  display: none;
  width: 104px;
  height: 84px;
  margin: 7px 0; }

@media only screen and (min-width: 641px) {
  .logo {
    display: inline-block; } }
.toggler {
  background-color: #202529;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column; }
  .toggler__line {
    width: 17px;
    margin: 1px 11px;
    border: 1px solid #ffffff;
    border-radius: 1px;
    background-color: #ffffff; }
    .toggler__line:first-child {
      margin-top: 11px; }
    .toggler__line:last-child {
      margin-bottom: 15px; }

.active .toggler__line {
  visibility: hidden; }

.active .toggler__line:first-child {
  visibility: visible;
  transform: rotate(-45deg) translate(-4px, 4px); }

.active .toggler__line:last-child {
  visibility: visible;
  transform: rotate(45deg) translate(-2px, -2px); }

@media only screen and (min-width: 491px) {
  .toggler__line {
    width: 28px;
    margin: 2px 28px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    background-color: #ffffff; }
    .toggler__line:first-child {
      margin-top: 28px; }
    .toggler__line:last-child {
      margin-bottom: 28px; }

  .active .toggler__line:first-child {
    transform: rotate(-45deg) translate(-5px, 6px); }

  .active .toggler__line:last-child {
    transform: rotate(45deg) translate(-5px, -7px); } }
@media only screen and (min-width: 641px) {
  .toggler {
    display: none; } }
.drop-down {
  position: absolute;
  display: block;
  box-sizing: border-box;
  right: 0; }
  .drop-down__item {
    border: 1px solid #CBCCCE;
    background-color: #fff;
    box-sizing: border-box; }
    .drop-down__item:hover {
      background-color: #CBCCCE; }
  .drop-down__link {
    display: block;
    padding: 7px 88px 7px 12px;
    text-decoration: none;
    font-size: 12px;
    color: #3f4043; }
    .drop-down__link:hover {
      color: black;
      font-weight: bold; }

@media only screen and (min-width: 491px) {
  .drop-down__link {
    font-size: 16px;
    padding: 12px 140px 12px 18px; } }
@media only screen and (min-width: 641px) {
  .drop-down {
    display: none; } }
.header {
  padding-top: 16px;
  padding-bottom: 94px;
  background: url(../img/header-fon-320.png) no-repeat center/cover; }
  .header__title {
    color: #ffffff;
    font: bold 14px Lato;
    margin-bottom: 6px;
    padding-left: 3px;
    letter-spacing: 0.6px;
    display: flex;
    flex-direction: column; }
  .header__link {
    display: inline-block;
    box-sizing: border-box;
    font: bold 12.5px Lato;
    color: #A6D6E0;
    text-decoration: none;
    margin-top: 3px;
    padding-left: 3px;
    letter-spacing: 0.6px; }

@media only screen and (min-width: 300px) {
  .header .container {
    padding-left: 20px; } }
@media only screen and (min-width: 321px) {
  .header {
    background: url(../img/header-fon-640.png) no-repeat center/cover; }

  .header__title {
    font-size: 20px; }

  .header__link {
    font-size: 16px; } }
@media only screen and (min-width: 491px) {
  .header {
    padding-top: 30px;
    padding-bottom: 197px;
    background: url(../img/header-fon-640.png) no-repeat center/cover; }

  .header__title {
    font-size: 36px; }

  .header__link {
    font-size: 24px;
    margin-top: 22px; }

  .header .container {
    padding-left: 38px; } }
@media only screen and (min-width: 641px) {
  .header {
    padding-top: 64px;
    padding-bottom: 260px;
    background: url(../img/header-fon-980.png) no-repeat center/cover; }

  .header__title {
    font-size: 54px; }

  .header__link {
    font-size: 34px;
    margin-top: 57px; }

  .header .container {
    padding-left: 30px; } }
@media only screen and (min-width: 981px) {
  .header {
    padding-bottom: 265px; }

  .header__title {
    font-size: 54px; }

  .header__link {
    font-size: 34px;
    margin-top: 57px; }

  .header .container {
    padding-left: 37px; } }
@media only screen and (min-width: 1200px) {
  .header {
    padding-top: 58px;
    padding-bottom: 379px;
    background: url(../img/header-fon-1200.png) no-repeat center/cover; }

  .header__title {
    font-size: 62px; }

  .header__link {
    font-size: 38px;
    margin-top: 53px; } }
.category {
  margin-top: 2px; }
  .category__link {
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center; }
    .category__link--title {
      box-sizing: border-box;
      font-size: 18px;
      font-weight: bold;
      padding: 29px 0; }
  .category__arrow-box {
    font-size: 13px;
    min-width: 71px;
    box-sizing: border-box;
    background-color: #acd8ad; }
  .category__item {
    text-align: center;
    box-sizing: border-box;
    display: flex;
    /*justify-content: space-between;*/ }
    .category__item--mtb-3 {
      margin-top: 1px;
      margin-bottom: 1px; }
    .category__item--background-1 {
      background: url("../img/category-1.png") no-repeat bottom/cover;
      box-sizing: border-box;
      width: 100%; }
    .category__item--background-2 {
      background: url("../img/category-2.png") no-repeat bottom/cover;
      box-sizing: border-box;
      width: 100%; }
    .category__item--background-3 {
      background: url("../img/category-3.png") no-repeat bottom/cover;
      box-sizing: border-box;
      width: 100%; }

.fa-chevron-right {
  display: block;
  box-sizing: border-box; }

@media only screen and (min-width: 491px) {
  .category__link--title {
    font-size: 36px;
    padding: 59px 0; }

  .category__arrow-box {
    font-size: 25px;
    min-width: 150px; } }
@media only screen and (min-width: 641px) {
  .category__arrow-box {
    display: none; }

  .category__box {
    display: flex; }

  .category__item {
    width: 33.33%; }

  .category__link--title {
    padding: 130px 0;
    font-size: 30px; }

  .category__item--mtb-3 {
    margin-top: 0;
    margin-bottom: 0; } }
@media only screen and (min-width: 981px) {
  .category__link {
    font-size: 38px; }

  .category__link--title {
    padding: 145px 0; } }
@media only screen and (min-width: 1200px) {
  .category__link {
    font-size: 43px; }

  .category__link--title {
    padding: 180px 0; } }
.foodmenu {
  padding-bottom: 20px;
  box-sizing: border-box; }
  .foodmenu .container {
    margin: 0; }
  .foodmenu__header {
    font-size: 18px;
    font-weight: bold;
    color: #3f4043;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 0.7; }
    .foodmenu__header-description {
      font-size: 8.5px;
      color: #CBCCCE;
      text-transform: none;
      /*padding-top: 3px;*/
      letter-spacing: 0.7px; }
    .foodmenu__header--flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 27px 8px 11px; }
  .foodmenu__subheader {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    letter-spacing: 1.1px;
    margin: 0 -17px 5px; }
    .foodmenu__subheader--dark {
      background-color: #3f4043;
      color: #acd8ad; }
    .foodmenu__subheader--light {
      background-color: #acd8ad;
      color: #3f4043; }
  .foodmenu__dish-beverages-header {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: #3f4043;
    padding-top: 6px;
    padding-bottom: 11px;
    letter-spacing: -0.1px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .foodmenu__item {
    margin: 5px 0 10.5px;
    /*padding: 8px 0 1px;*/
    font-weight: bold; }
    .foodmenu__item-header {
      font-size: 12px;
      padding-bottom: 7px;
      letter-spacing: 0.4px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .foodmenu__item-price {
      font-size: 14px;
      font-weight: bold;
      /*letter-spacing: -0.5px;*/ }
    .foodmenu__item-description {
      font-size: 9px;
      color: #3f4043;
      text-align: justify;
      line-height: 1.1;
      letter-spacing: -0.2px; }

.subsection-wrapper {
  padding: 0 17px; }

.fa-stroopwafel,
.fa-wine-glass,
.fa-coffee,
.fa-beer {
  color: #acd8ad;
  font-size: 25px; }

.last-item--indent {
  margin-bottom: 29px; }

@media only screen and (min-width: 321px) {
  .foodmenu__header--flex {
    padding: 45px 20px 20px; } }
@media only screen and (min-width: 491px) {
  .foodmenu {
    padding-bottom: 77px; }

  .foodmenu__header {
    font-size: 29px;
    line-height: 1; }
    .foodmenu__header-description {
      font-size: 15px; }

  .foodmenu__subheader {
    font-size: 29px;
    padding: 23px 0 23px 37px;
    margin: 0 -37px; }

  .subsection-wrapper {
    padding: 0 37px; }

  .foodmenu__dish-beverages-header {
    font-size: 22px;
    padding-top: 22px;
    padding-bottom: 20px;
    letter-spacing: 0.4px; }

  .fa-stroopwafel,
  .fa-wine-glass,
  .fa-coffee,
  .fa-beer {
    font-size: 48px; }

  .foodmenu__item {
    margin: 5px 0 9px;
    /*padding: 8px 0 1px;*/ }
    .foodmenu__item-header {
      font-size: 20px;
      padding-top: 22px;
      padding-bottom: 16px; }
    .foodmenu__item-price {
      font-size: 20px; }
    .foodmenu__item-description {
      font-size: 16px; }

  .last-item--indent {
    margin-bottom: 40px; } }
@media only screen and (min-width: 641px) {
  .foodmenu__header--flex {
    padding: 50px 30px 10px; }

  .foodmenu__subheader {
    font-size: 22px; }

  .foodmenu__sections--flex {
    display: flex; } }
@media only screen and (min-width: 755px) {
  .foodmenu__subheader {
    font-size: 29px; } }
@media only screen and (min-width: 981px) {
  .foodmenu__header--flex {
    padding: 40px 20px 15px; }

  .subsection-wrapper {
    width: 100%; } }
@media only screen and (min-width: 1201px) {
  /*.foodmenu__item-header,
  .foodmenu__item-price {
    font-size: 25px;
    line-height: 38px;
  }

  .foodmenu__item-description {
    font-size: 18px;
    line-height: 25px;
  }

  .foodmenu__dish-beverages-header {
    font-size: 27px;
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .foodmenu__subheader {
    font-size: 29px;
    padding: 23px 0 23px 20px;
  }

  .foodmenu__header {
    font-size: 29px;
  }

  .fa-stroopwafel,
  .fa-wine-glass,
  .fa-coffee,
  .fa-beer {
    font-size: 50px;
  }

  .foodmenu__header-description {
    font-size: 18px;
  }

  .last-item--indent {
    margin-bottom: 129px;
  }*/ }
.footer {
  background-color: #acd8ad; }
  .footer__text {
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    line-height: 1.4; }
  .footer__text-wrap {
    padding: 10px 0; }

@media only screen and (min-width: 491px) {
  .footer__text {
    font-size: 18px; }
  .footer__text-wrap {
    padding: 29px 0; } }
@media only screen and (min-width: 641px) {
  .footer__text {
    font-size: 15px; }

  .footer .container {
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between; }

  .footer__text-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center; } }
@media only screen and (min-width: 755px) {
  .footer__text {
    font-size: 18px; }

  .footer__text-wrap {
    padding-right: 38px; } }
@media only screen and (min-width: 981px) {
  .footer .container {
    padding: 0 37px; } }
body {
  font-family: 'Lato', 'Montserrat', Courier, sans-serif; }

.container {
  box-sizing: border-box;
  overflow: hidden; }
